workflows/n8n-weekly-suggestions.json
{
  "name": "Weekly Suggestions",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 0"
            }
          ]
        }
      },
      "name": "Cron - Monday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        48
      ],
      "id": "8f259297-4ec0-4699-9f4e-5a6d40fa9812"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "page-init",
              "name": "page",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "name": "Initialize Page",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -448,
        48
      ],
      "id": "aafd58f0-2fb2-47e3-8836-8e3f26cf8c43"
    },
    {
      "parameters": {
        "url": "=https://brasilita.com/api/emails/weekly-suggestions/users?page={{$json.page}}&limit=20",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Users with Profiles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        48
      ],
      "id": "66cb2ded-0d09-4cea-b9e2-cef28d4d47b4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3exN5NrsjqTpnOsO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json.users.length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "04b7d290-cabe-43d7-8f96-6ccaf39165fa"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Users?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "57f7ee8d-4dff-4f97-9596-cfa7cd73b4d2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "users",
        "options": {}
      },
      "name": "Extract Users",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "b4e669f0-3f89-4dcf-b565-7ea6e805e199"
    },
    {
      "parameters": {},
      "name": "Wait Between Emails",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "webhookId": "wait-webhook-id-email-weekly",
      "id": "fbd29d7d-3462-480c-8cfd-8d5a5d8e27c6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.brasilita.com/api/emails/weekly-suggestions/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"userId\": \"{{$json.userId}}\"\n}",
        "options": {}
      },
      "name": "Send Suggestions Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "19645d4f-af15-4d86-bf2c-77c75a590441",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3exN5NrsjqTpnOsO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "name": "Wait Before Next Page",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        0
      ],
      "webhookId": "wait-webhook-id-next-page-weekly",
      "id": "df069b8c-1107-46e8-836a-2248142ea3fd"
    },
    {
      "parameters": {
        "jsCode": "// Get API response from 'Fetch Users with Profiles' node\nconst apiResponse = $('Fetch Users with Profiles').first().json;\n\n// Increment page for next iteration\nconst nextPage = apiResponse.pagination.currentPage + 1;\n\n// Return object with updated page and hasNextPage flag\nreturn {\n  page: nextPage,\n  hasMore: apiResponse.pagination.hasNextPage || false\n};"
      },
      "name": "Increment Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "457a1cb4-7c29-4af8-9689-dbeaf6328467"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.hasMore}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "163cd4ff-e227-4a7e-800b-fd7d3ad053b2"
    },
    {
      "parameters": {},
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        192
      ],
      "id": "54752d9e-fdfc-4145-a0c4-ec868edf7c7e"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron - Monday 9am": {
      "main": [
        [
          {
            "node": "Initialize Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Page": {
      "main": [
        [
          {
            "node": "Fetch Users with Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Users with Profiles": {
      "main": [
        [
          {
            "node": "Has Users?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Users?": {
      "main": [
        [
          {
            "node": "Extract Users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Users": {
      "main": [
        [
          {
            "node": "Wait Between Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Emails": {
      "main": [
        [
          {
            "node": "Send Suggestions Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Suggestions Email": {
      "main": [
        [
          {
            "node": "Increment Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Page": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?": {
      "main": [
        [
          {
            "node": "Wait Before Next Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Next Page": {
      "main": [
        [
          {
            "node": "Fetch Users with Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1e0278f-8fb7-4d91-8fac-b6a715c9d604",
  "meta": {
    "instanceId": "a0fe618831310e85c2efc6bcdfcba580d205b48a83b9b2f4b77a76183f679409"
  },
  "id": "hRzXLXsXQzDGmPhs",
  "tags": []
}